div#lH {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
    font-size: 200px;
    text-align:center;
  }
  audio#aH {
    position: arelative;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0.01;
  }